/*
	naranja  #FB703E
	azul fuerte #213044
	azul mate #1E424C
	amarillo #E9F071
	gris claro #F5FFF6
	azul cielo #6ACFB4

	azul cielo #3D8BE2
	gris oacuro #3A3A41
	rojo #FF4A5C
	naranja #ED9C00
	verdeazul #28D3FF
	gris calro #D8E8F9



	font-family: 'Roboto', sans-serif;
	font-family: 'Bai Jamjuree', sans-serif;
	font-family: 'Montserrat', sans-serif;

*/

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?rf1v4z');
  src:  url('../fonts/icomoon.eot?rf1v4z#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rf1v4z') format('truetype'),
    url('../fonts/icomoon.woff?rf1v4z') format('woff'),
    url('../fonts/icomoon.svg?rf1v4z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media(min-width:30px){
	body
	{
		background: #1E424C;
		display: block;
		font-family: 'Roboto', sans-serif;
		height: 50em;
		padding: 0;
		margin: 0;
		max-width: 1700px;
	}
	header
	{
		background: #3A3A41;
		color: #eee;
		display: block;
		margin: 0 auto;
		padding-top: 1em;
		width: 100%;
	}
	header figure
	{
		display: inline-block;
		margin: 0 1em;
		margin-top: 1em;
		width: 12em;
	}
	header figure img
	{
		display: block;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	header nav
	{
		display: inline-block;
		float: right;
		margin: 0;
		margin-top: 1em;
		padding: 0;
		vertical-align: top;
		width: 60%;
	}
	header nav li
	{
		display: inline-block;
		cursor: pointer;
		font-size: 1.25em;
		list-style: none;
		margin: 0 5%;
		padding: 0;
		text-align: center;
		width: 10%;
	}
	header nav li#acceder
	{
		float: right;
	}
	header nav li a
	{   
		color: #F5FFF6;
		display: block;		
		font-family: 'Roboto', sans-serif;
		text-decoration: none;
		margin: 0;
		padding: .5em;
	}
	nav ul
	{		
		list-style: none;
	}
	nav#nav-servicios
	{
		background: #3D8BE2;
		display: block;
		height: 55em;
		float: left;
		text-align: center;
		width: 13em;
	}
	nav#nav-servicios ul
	{
		margin: 0 auto;
		padding: 0;
		width: 100%;
	}
	nav#nav-servicios ul li
	{
		color: #D8E8F9;
		cursor: pointer;
		display: block;
		font-size: 1.2em;
		margin: 0em auto;
		padding: 2em 0;
		width: 100%;
	}
	nav#nav-servicios ul li:hover
	{
		background: #ED9C00;
	}
	nav#nav-servicios ul li a
	{
		display: block;
		margin: .5em auto;
		font-family: 'Bai Jamjuree', sans-serif;
	}
	section
	{
		background: #F5FFF6;
		display: block;
		font-family: 'Montserrat', sans-serif;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	section div
	{
		display: inline-block;
		margin: 1em auto;
		margin-left: 2em;
		padding: 0;
		vertical-align: top;
		width: 75%;
	}
	section figure
	{
		display: inline-block;
		margin: 2em 0;
		margin-left: 2em;
		padding: 0;
		vertical-align: bottom;
		width: 15%;
	}
	section figure img
	{
		display: block;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	section#inicio, section#contacto, section#servicios
	{
		font-size: 1.5em;
		text-align: justify;
	}
	section#servicios div
	{
		margin: 1em auto;
		margin-left: 2em;
		padding: 0;
		vertical-align: top;
		width: 75%;

	}
	section#nuevo 
	{
		display: block;
		margin: 0 auto;
		padding: 0;
	}
	section#nuevo form
	{
		background: #E9F071;
		display: block;
		margin: 0 auto;
		text-align: center;
		width: 60%;
	}
	section#nuevo form p
	{
		font-family: 'Roboto', sans-serif;
		margin: 0em;
		margin-bottom: 1em;
		width: 100%;
	}
	section#nuevo form p input,section#nuevo form p textarea, section#nuevo form p select
	{
		border-radius: 7px;
		padding: .25em;
	}
	section#servicios div
	{
		margin: 0 2em;
	}
	section#servicios article
	{
		background: #1E424C;
		display: none;
		color: #fff;
		margin: 0 auto;
		padding-top: 1em;
		width: 100%;
	}
	section#servicios article p
	{
		margin: 0 auto;
		width: 65%;
	}
	.icon-cancel:before {
  		content: "\e904";
	}
	.icon-clock:before {
	  	content: "\e902";
	}
	.icon-phone:before {
	  	content: "\e942";
	1 	font-size: 2em;
	}
	.icon-user-add:before {
	  	content: "\e973";
	}
	.icon-user-del:before {
	  	content: "\e974";
	}
	.icon-delete:before {
	  	content: "\e9ac";
	}
	.icon-flag:before {
	  	content: "\e9cc";
	}
	.icon-check:before {
	  	content: "\ea10";
	}
	.icon-login:before {
	  	content: "\ea13";
	  	font-size: 1em;
	}
	.icon-face:before {
	  	content: "\ea91";
	}
	.icon-whatsapp:before {
	  	content: "\ea93";
	}
	.icon-html:before {
	  	content: "\eae4";
	}
	.icon-wifi:before {
	  	content: "\e905";
	}
	.icon-services:before {
	  	content: "\e903";
	  	font-size: 1em;
	}
	.icon-pc:before {
	  	content: "\e906";
	}
	.icon-internet:before {
	  	content: "\e907";
	}
	.icon-billete:before {
	  	content: "\e901";
	}
	.icon-home:before {
	  	content: "\e900";
	  	font-size: 1em;
	}
}